* {
  font-family: "Sarasa Mono SC", "Noto Mono", "Monaco", monospace;
  line-height: 1.5;
  /* margin: 0; */
  /* padding: 0; */
}

html, body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.error {
  padding: 1em;
}

.usage {
  padding: 1em;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: pre-wrap;
}

.front-cover {
  height: 100vh;
}

.book-title {
  text-align: center;
  padding: 1em;
}

.book-authors {
  text-align: center;
  padding: 1em;
}

.book-date {
  text-align: center;
  padding: 1em;
}

.chapter-title {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: thin solid;
  border-bottom: thin solid;
}

.dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: thin solid #666666;
  border-bottom: thin solid #666666;
}

.dialog .question {
  flex: 50%;
  padding-left: 1em;
  padding-right: 2em;
}

.dialog .index {
  font-size: 8px;
  flex: 4%;
}

.dialog .answer {
  flex: 50%;
  padding-left: 1em;
  padding-right: 2em;
}

.dialog .note {
  font-size: 0.8em;
}

.dialog .note-name {
  color: blue;
  position: relative;
  top: -0.3em;
}

.card {
  text-align: center;
  padding: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  border: thick double;
}
