* {
  font-family:
    "Sarasa Mono SC",
    "Noto Mono",
    "Monaco",
    monospace;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

pre {
  white-space: pre-wrap;
}

.dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.question {
  flex: 50%;
  margin-left: 1em;
  margin-right: 2em;
}

.index {
  font-size: 8px;
  flex: 4%;
}

.answer {
  flex: 50%;
  margin-left: 1em;
  margin-right: 2em;
}

.note {
  font-size: 0.8em;
}

.card {
  text-align: center;
  padding: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-style: double;
}
